body {
  background-color: #2e2f33;
}

.login-container {
  position: fixed;
  height: 100%;
  background-image: url("../img/login-background.jpg");
  animation-name: fadeInDown;
  animation-duration: 1s;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 75%;
  background-color: #2e2f33ce;
  border-radius: 15px;
  animation-name: fadeInDown;
  animation-delay: 0.5s;
  animation-duration: 1s;
  backdrop-filter: blur(20px);
  box-shadow: 0px 20px 65px 0.1px #18191b;
}

.login-form-logo {
  width: 150px;
  margin-top: 1rem;
}

.login-form-heading {
  color: #fdffff;
  margin: 1rem 0;
}

.login-form-input {
  background-color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 0.7rem 1.5rem;
  box-shadow: 0px 5px 15px 0.1px #18191b9d;
}

.login-form-input:focus {
  outline: none;
  background-color: #ffffffb6;
}

.login-form-checkbox-container {
  color: #fdffff;
  padding: 0 1.5rem;
}

.login-form-checkbox-container label {
  margin-left: 0.25rem;
  cursor: pointer;
  user-select: none;
}

.login-form-checkbox-container input {
  color: #fdffff;
  padding: 0 1.5rem;
  cursor: pointer;
}

.login-form-submit {
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: #37c755;
  color: #e1ffee;
  box-shadow: 0px 5px 15px 1px #18191b9d;
  transition: background-color 250ms;
}

.login-form-submit:hover {
  background-color: #37c756c5;
}

.login-form-forgot {
  margin-top: 1rem;
  text-decoration: none;
  color: #969696;
  transition: color 250ms;
  padding-bottom: 1rem;
}

.login-form-forgot:hover {
  color: #fdffff;
}
